# Laravel
*.log
.env
.env.backup
.env.production
.env.local
.env.*.local
.phpunit.result.cache
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep

# IDE
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json
*.swp
*.swo
*~
*.sublime-*

# Node
/node_modules
/public/build
/public/hot
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Vendor
/vendor

# Misc
Homestead.json
Homestead.yaml
auth.json
.phpunit.cache
.php-cs-fixer.cache
.phpstorm.meta.php


